.main-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
  min-height: 80vh;
}
.contant-container {
  width: 100%;
}

.post-card {
  margin: 2rem 1rem;
  min-height: 5rem;
}
.post-hashtags {
  margin: 0.2rem;
}
.post-reaction {
  width: 100%;
  margin-top: 2rem;
}
.createPost-cointainer {
  padding: 2rem 2rem;
}
.sidebar-container {
  max-width: 12vw;
  height: 100vh;
  position: fixed;
}
.contant-container {
  margin-left: 10.5vw;
  
}
